@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@layer base {
  body {
    background-color: #f5f5f5;
  }
}
@theme {
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: "Inter", "sans-serif";
  --color-backgroundColor: #f5f5f5;
  --color-classyBlue: #254a76;
  --color-black: #262626;
  --color-sunYellow: #e7e94f;
  --color-darkGrey: #4a4a4a;
  --color-outlineGrey: #ababab;
  --color-lightBlue: #2563eb;
  --color-softPurple: #edebf7;
  --color-lightBlueGrad: #80bbeb;
  --color-greyishLightBlue: #89a3d5;
  --color-shdowPink: #f5d5ef;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
@keyframes textChange {
  0%,
  30% {
    content: "Create";
  }
  33%,
  63% {
    content: "Sign";
  }
  66%,
  96% {
    content: "Convert";
  }
}

.animate-text-change::after {
  content: "Create";
  animation: textChange 6s infinite;
}

.ellipse-1 {
  position: absolute;
  width: 879px;
  height: 877px;
  left: -530px;
  top: 1930px;
  z-index: -1;

  background: #254a76;
  opacity: 0.5;
  filter: blur(250px);
}

.ellipse-2 {
  position: absolute;
  width: 400px;
  height: 877px;
  left: 879px;
  top: 1915px;
  z-index: -1;

  background: #254a76;
  opacity: 0.5;
  filter: blur(250px);
}
.ellipse-3 {
  position: absolute;
  width: 879px;
  height: 877px;
  left: -589px;
  top: 450px;
  z-index: -1;

  background: #254a76;
  opacity: 0.5;
  filter: blur(250px);
}

.ellipse-4 {
  position: absolute;
  height: 877px;
  width: 400px;
  /* left: calc(100% - 879px); */
  left: 943px;

  top: 464px;
  z-index: -1;

  background: #254a76;
  opacity: 0.5;
  filter: blur(250px);
}
